.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search {
    border-radius: 10px;
    width: 50%;
    height: 40px;
    padding: 10px;
    border: 2px solid #3f51b5; /* Added 'solid' to specify border style */
    outline: none; /* Remove default focus border */
    transition: border-color 0.3s ease; /* Add transition effect for border color */
  }
  
  .search:focus {
    border-color: #8e24aa; /* Change border color on focus */
  }
  
  .search-btn {
    border: none;
    background-color: #3f51b5;
    color: white;
    border-radius: 0 10px 10px 0; /* Round right corners */
    height: 40px;
    padding: 0 20px; /* Add padding */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition effect for background color */
  }
  
  .search-btn:hover {
    background-color: #8e24aa; /* Change background color on hover */
  }
  
.search_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.mat-card {
    // flex: 0 0 calc(33.33% - 20px); /* Each card covers one-third of the container width minus margin */
    width: 300px;
    margin: 20px 10px; /* Adjust margin for better spacing */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    overflow: hidden; /* Hide overflow content */
}

.mat-card-content {
    padding: 20px; /* Add padding to card content */
}

.mat-card-actions {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    padding: 10px; /* Add padding to button container */
}

.image-card {
    width: 100%; /* Ensure image fills its container */
    height: auto; /* Maintain aspect ratio */
}

.product_name {
    color: rgb(6, 162, 224);
    margin-bottom: 10px; /* Add margin below product name */
}
button {
    margin-left: 5px; /* Adjust button margin */
}

.space{
    margin-right: 20px;

}

